* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #f85e00, #ff1b6b);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
    font-size: 28px;
    text-align: center;
    text-shadow: -2px -2px black;
}

form {
    position: absolute;
    top: 40px;
    right: 40px;
}

form input {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 180px;
}

.submit-btn {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background-color: white;
    color: #f85e00;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
    transition: 0.3s ease;
}

.submit-btn:hover {
    background-color: #ff1b6b;
    color: white;
}

.movies {
    list-style: none;
    margin-top: 20px;
    width: 320px;
    max-height: 400px;
    overflow-y: auto;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.list {
    margin-bottom: 10px;
}

.list a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: #f85e00;
    color: white;
    border-radius: 6px;
    text-align: center;
    transition: 0.3s ease;
}

.list a:hover {
    background-color: #ff1b6b;
}

.back-btn {
    margin-top: 20px;
    text-decoration: none;
    background-color: #ffffff;
    color: #f85e00;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s ease;
}

.back-btn:hover {
    background-color: #ff1b6b;
    color: white;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 30px;
    width: 90%;              
    max-width: 1200px;       
}

.movie-card {
     width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-card img {
    width: 180px;
    height: 250px;
    object-fit: cover;
    border-radius: 14px;
    transition: transform 0.3s ease;
}

.movie-card :hover img {
    transform: scale(1.05);
}

.movie-link,
    .movie-link:link,
    .movie-link:visited,
    .movie-link:hover,
    .movie-link:active {
        text-decoration: none;
        color: inherit;
}

.movie-card p {
    margin-top: 8px;
    font-weight: bold;
    color:white;
    text-align: center;
}

.submit-btn {
    padding: 6px 12px;
}
