* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #f85e00, #ff1b6b);
    padding: 40px 20px;
}

.page-title {
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px black;
}

.admin-container {
    max-width: 1200px;
    margin: 0 auto;
}

.top-row {
    display: flex;
    gap: 25px;
    align-items: flex-start;
    margin-bottom: 35px;
}

.change-box,
.theatre-box,
.showtime-box,
.table-section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    margin-bottom: 15px;
    font-size: 18px;
    color:black;
}

.poster-box {
    width: 20%;
    text-align: center;
    color: white;
    margin-bottom: 15px;
    font-size: 18px;
}

.poster-box img {
    width: 160px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.4);
    margin-top: 10px;
}

.change-box {
    width: 40%;
}

.theatre-box {
    width: 40%;
}

.showtime-box {
    margin-bottom: 35px;
}

/* h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
} */

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

form button {
    width:150px;
    padding: 8px;
    display: block;
    margin: 0 auto; 
    background-color: #f85e00;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

form button:hover {
    background-color: #ff1b6b;
}

.table-wrapper {
    max-height: 300px;
    overflow-y: auto;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f85e00;
    color: white;
    position: sticky;
    top: 0;
}

tr:hover {
    background-color: #fff3ec;
}

td a {
    padding: 6px 12px;
    background-color: #ff1b6b;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
}

td a:hover {
    background-color: #f85e00;
}

.back-btn {
    display: block;
    width: 220px;
    margin: 40px auto 0;
    padding: 12px;
    text-align: center;
    background: white;
    color: #f85e00;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.back-btn:hover {
    background-color: #ff1b6b;
    color: white;
}

.delete-movie-btn {
    background:white;
    color:red;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.delete-movie-btn:hover {
    background: red;
    color: white;
}