html, body {
    height: auto;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.home-header {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

.section-title {
    text-align: center;
    margin: 15px 0;
    color: black;
}

.poster-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 30px;
    padding: 50px;
}

.poster-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster-card img {
    width: 180px;
    height: 250px;
    object-fit: cover;
    border-radius: 14px;
    transition: transform 0.3s ease;
}

.poster-card:hover img {
    transform: scale(1.05);
}

.movie-title {
    margin-top: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
                 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-align: center;
}

@media (max-width: 425px) {

    .poster-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        padding: 12px;
    }

    .poster-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


    .poster-card img {
        width: 150px;
        height: 200px;
    }

    .movie-title {
        font-size: 14px;
        text-align: center;
    }
}

#loadTrigger {
  height: 1px;
}