.theatre-container {
    display: flex;
    justify-content: center;
}

.theatre-card {
    width: 90%;
    /* max-width: 900px; */
    background: white;
    padding: 12px;
    border-radius: 12px;
    margin: 10px auto;
    border: 1px solid black;
    
}

h3{
    color:black;
    font-size: 18px;
}

.title-card{
    color: black;
    font-weight:400px;
    text-align: center;
}

.movie-title{
    font-size:25px;
}

.movie-details{
    font-size: 20px;
}

.time-container{
    display:flex;
    flex-wrap: wrap;
    gap: 3px;
}

.time {
    display:flex;
    flex-wrap: wrap;
    padding: 6px 6px;
    border: 1px solid #f85e00;
    border-width: 1px 1px 1px 4px;
    border-radius: 3px;
    font-size: 12px;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease;
}

.time:hover {
    background: #888;
    color: #fff;
}

.back-link {
    margin-left: -150px;
    display: inline-block;
    margin-top: 5px;
    color: #888;
    text-decoration: none;
    cursor: pointer;
}

.back-link:hover {
    color: #000;
    text-decoration: underline;
}

.dates {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 8px;
    background: white;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.date-btn {
    width: 56px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 2px;

    background: white;
    color: #333;
    font-weight: 500;

    transition: all 0.2s ease;
}

.date-btn .day {
    font-size: 11px;
    text-transform: uppercase;
    color: #666;
}

.date-btn .date {
    font-size: 16px;
    font-weight: bold;
}

.date-btn .month {
    font-size: 11px;
    text-transform: uppercase;
}

.date-btn:hover {
    background:white;
}

.date-btn.active {
    background: gray;   
    color: #fff;
}

.date-btn.active .day,
.date-btn.active .month {
    color: #fff;
}


.dates a {
    text-decoration: none;
    padding: 8px 8px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    background-color:white;
    white-space: nowrap;
    transition: all 0.2s ease;
    border: 1px solid transparent;
}

.dates a.active {
    background: #f85e00;   
    color: #fff;
}


@media (max-width:425px) {

.theatre-card {
    width: 88%;
    max-width: 900px;
    background: white;
    padding: 12px;
    border-radius: 12px;
    margin: 10px auto;
    border: 1px solid black;
}

.theatre-container {
    justify-content: center;
}


h3{
    color:black;
    font-size: 18px;
}

.title-card{
    color: black;
    font-weight:400px;
    text-align: center;
}

.movie-title{
    font-size:25px;
}

.movie-details{
    font-size: 12px;
}

.back-link {
    display: inline-block;
    margin-left:-45px;
    color: #888;
    text-decoration: none;
    cursor: pointer;
}

.dates a {
        font-size: 13px;
        padding: 7px 12px;
        background-color: white;
    }

.date-btn .day {
    font-size: 8px;
    text-transform: uppercase;
    color: #666;
}

.date-btn .date {
    font-size: 10px;
    font-weight: bold;
}

.date-btn .month {
    font-size: 8px;
    text-transform: uppercase;
}

.date-btn {
    width: 40px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 2px;
    background:white;
    color: #333;
    font-weight: 500;
    transition: all 0.2s ease;
}

}
.movie-header {
    display: flex;
    gap: 30px;
    padding: 10px;
    align-items: flex-start;
    margin-left: 25px;
}

.movie-poster img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.movie-info {
    flex: 1;
}

.movie-title {
    font-size: 28px;
    font-weight: 600;
    text-transform:capitalize;
    margin: 0;
}

.movie-details {
    font-size: 14px;
    color: #444;
    margin: 6px 0;
}

@media (max-width: 425px) {
    .movie-header {
        flex-direction: row;
        margin: 0;
    }

    .movie-poster img {
        width: 100px;
    }

    .movie-title {
        font-size: 20px;
        font-weight:600;
    }
}

